/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #F9F9F9;
  font: 13.34px/1.4 Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 1.2em 0 1em 0;
  padding: 0;
  text-rendering: optimizelegibility;
}

h1 {font-size: 38px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}

p { margin: 0 0 1em 0; padding:0;}

.highlight {color: #E04C3E;}
a         { color: #1F8AB6; text-decoration: none;}
a:hover   { color: #2FB0D5; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #FFF;
}
ul, ol {
  margin: 0 0 1em 0;
  padding: 0;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.chapter {
  margin-bottom: 0.5em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Header + Footer
/*
/*****************************************************************************/
.header {
  padding: 10px 30px 5px;
  background:  #085987;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header a {
  display: inline-block;
  width: 184px;
  height: 32px;
  overflow: hidden;
  text-indent: 101%;
  background: url('/assets/images/lg_opentechschool.png') 0 50% no-repeat;
}

.footer {
  font-size: 14px;
  color: #fff;
  background:  #085987;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
  padding: 20px 50px 5px;
}
.footer a {
  color: #C1D5E1;
}
.footer a:hover {
  color: #fff;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  padding: 0 40px;
  margin: 1em auto 2em;
  line-height: 1.5em;
}

h1.title {
  text-align: center;
}

.aside {
  display: inline-block;
  width: 23%;
  min-width: 170px;
  margin: 2em 5% 0 0;
  padding: 19px;
  vertical-align: top;
  font-size: 15px;
  text-align: left;
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.aside a {
  padding: 4px 0;
  display: block;
  line-height: 1.2;
}
.aside > a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.aside ul {
  margin-top: 10px;
  list-style: none;
}
.aside ul::before {
  content: attr(data-title);
  color: #999;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.main {
  display: inline-block;
  width: 70%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
  margin: 1em 0 0;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post p {
  display: inline-block;
  width: 100%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* images */
img.thumb {
  width: 120px;
  height: auto;
  float: left;
  margin: 0 1em 0.3em 0;
}
img.thumb-r {
  float: right;
  margin: 0 0 0.3em 1em;
}
img.full {
  width: 100%;
  height: auto;
}

.post img {
  width: 100%;
  /* border: 1px solid #888; */
  margin-bottom: 1em;
  -webkit-box-shadow: 5px 5px 19px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    5px 5px 19px rgba(50, 50, 50, 0.75);
  box-shadow:         5px 5px 19px rgba(50, 50, 50, 0.75);
}

