<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA -Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css' />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    </head>


    <body
      {% if page.name %}
      class ="{{ page.name }}"
      {% endif %}
      >

      <div class="header">
        <a href="http://www.opentechschool.org">OpenTechSchool</a>
      </div>
      <div class="site">
        <h1 class="title">{{ site.name }}</h1>
        <hr />

        <div class="aside">
          <a href="/">Home</a>
          <a href="/introduction/">Introduction</a>
          <a href="/social-coding/">Social Coding</a>

            <h2 class="aside--title">Part I: Learning to sail</h2>
            <ul>
              {% for post in site.posts %}
                {% if post.chapter == "one" %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>

            <h2 class="aside--title">Part II: Sail away!</h2>
            <ul>
              {% for post in site.posts %}
                {% if post.chapter == "two" %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>

            <hr>
            <a href="/wall-of-fame.html">Wall of Fame</a>
            <a href="/find-more-treasures/">Find more treasures</a>
            <a href="/">Feedback</a>
            <a href="/">Credits</a>
        </div><!-- aside -->

        <div class="main">
        {{ content }}
        </div>
      </div>

      <div class="footer">
        <p>© <a href="http://www.opentechschool.org">OpenTechSchool</a>
              || Licensed under 
              <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
            </p>
      </div>
  </body>
</html>
