<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA -Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css' />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    </head>


    <body
      {% if page.name %}
      class ="{{ page.name }}"
      {% endif %}
      >

      <div class="header">
        <a href="http://www.opentechschool.org">OpenTechSchool</a>
      </div>
      <div class="site">
        <h1 class="title">{{ site.name }}</h1>
        <hr />

        <div class="aside">


        </div>

        <div class="aside">
          <a href="/">Home</a>

          <ul data-title="core">
            {% for post in site.posts %}
              {% if post.chapter == "one" %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
          <ul data-title="challenges">
            {% for post in site.posts %}
              {% if post.chapter == "two" %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
          <ul data-title="read on">
            {% for post in site.posts %}
              {% if post.chapter == "four" %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="main">
        {{ content }}
        </div>
      </div>

      <div class="footer">
        <p>© <a href="http://www.opentechschool.org">OpenTechSchool</a>
              || Licensed under 
              <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
            </p>
      </div>
  </body>
</html>
